.search-bar {
  display: flex;
  width: 25%;
}
.search-bar-input {
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0px;
  width: 100%;
}
.search-bar-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

@media (max-width: 425px) {
  .search-bar {
    width: 100px;
    margin-left: 50px;
  }
  .search-bar-button{
    width: 80px;
  }
}