body {
  --background: #2f3640;
  --foreground: #353b48;
  --danger: #e84118;
  --warning: #fbc531;
  --success: #4cd137;
  --color: #f5f6fa;
  --primary: #00a8ff;
  --primary-hover: #0097e6;

  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  color: var(--color);
  background: var(--background);
}
.button-primary {
  border: none;
  padding: 5px 30px;
  background: var(--primary);
  border-radius: 5px;
  color: var(--color);
  transition: 0.2s;
  font-weight: 700;
}
.button-primary:hover{
  background: var(--primary-hover);
}
.button-load-more {
  width: 50%;
  border: none;
  padding: 5px 30px;
  background: var(--primary);
  border-radius: 5px;
  color: var(--color);
  transition: 0.2s;
  margin: 20px 25%;
  font-weight: 700;
}
.button-load-more:hover {
  background: var(--primary-hover);
}
